In [126]:
######## JP Morgan Assignment #########
### Programmer: Raimundo Oliveira   ###
### Assignemnt: Super Simple Stocks ###
### Date created: 17/08/2017        ###    
#######################################

# Data Preparation - Create GBCE table

import pandas as pd

d = {'Stock' : pd.Series(['TEA', 'POP', 'ALE', 'GIN', 'JOE']),
     'Type' : pd.Series(['C', 'C', 'C', 'P', 'C']),
     'Last_D' : pd.Series([0,8,23,8,13]),
     'Fixed_D' : pd.Series([0,0,0,0.02,0]),
     'Par' : pd.Series([100,100,60,100,250])}
df = pd.DataFrame(d)
df

   Fixed_D  Last_D  Par Stock Type
0     0.00       0  100   TEA    C
1     0.00       8  100   POP    C
2     0.00      23   60   ALE    C
3     0.02       8  100   GIN    P
4     0.00      13  250   JOE    C

In [127]:
# Q1a i. Given a market price as input, calculate the dividend yield

# Please adjust the Market Price as appropriate
############### INPUT ####################
TEA_Price = 100  # per share (in pennies)
POP_Price = 105  # per share (in pennies)
ALE_Price = 80   # per share (in pennies)
GIN_Price = 120  # per share (in pennies)
JOE_Price = 225  # per share (in pennies)
##########################################

df["Price"] = [TEA_Price,POP_Price,ALE_Price,GIN_Price,JOE_Price]

df["C_Yields"] = df["Last_D"] / df["Price"]
df["P_Yields"] = df["Fixed_D"] * df["Par"] / df["Price"]

import numpy as np

df["D_Yields"] = np.where(df["Type"] == "C", df["C_Yields"], df["P_Yields"])
df["D_Yields"][np.isinf(df["D_Yields"])] = np.nan
df.drop(['P_Yields','C_Yields'], axis=1, inplace = True)

dy = {'Stock' : df['Stock'],
     'Dividend Yield' : np.round(df["D_Yields"],2)}
df_dy = pd.DataFrame(dy)

#########   Answer Q1a i. ########
df_dy

/Users/Ray/Library/Enthought/Canopy/edm/envs/User/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Dividend Yield Stock
0            0.00   TEA
1            0.08   POP
2            0.29   ALE
3            0.02   GIN
4            0.06   JOE

In [128]:
# Q1a ii. Given a market price as input, calculate the P/E Ratio

df["P/E"] = df["Price"] / df["Last_D"]
df["P/E"][np.isinf(df["P/E"])] = np.nan

pe = {'Stock' : df['Stock'],
     'P/E Ratio' : np.round(df["P/E"],2)}
df_pe = pd.DataFrame(pe)

#########   Answer Q1a ii. ########
df_pe

/Users/Ray/Library/Enthought/Canopy/edm/envs/User/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   P/E Ratio Stock
0        NaN   TEA
1      13.12   POP
2       3.48   ALE
3      15.00   GIN
4      17.31   JOE

In [129]:
########### Trading Data Preparation ############

# Please adjust the following as appropriate
############### INPUT ####################
total = 999     ## Total number of trades for all Stocks
max_vol = 999   ## Maximum No of Shares per trade 
##########################################

import numpy.random as rd
import datetime as dt

t = {'Stock' : rd.choice(df["Stock"], total),
     'Volume' : rd.randint(1, (1 + max_vol), total),
     'Position' : rd.choice(['B','S'],total),
     'Time' : pd.date_range((dt.datetime.now() - dt.timedelta(minutes = 35)), periods = 1000, freq = '2s')[:total].values.astype('<M8[s]'),
     df["Stock"][0] : np.round(abs(rd.normal(df["Price"][0], df["Price"][0]*0.02+0.00001, total)),2),
     df["Stock"][1] : np.round(abs(rd.normal(df["Price"][1], df["Price"][1]*0.02+0.00001, total)),2),
     df["Stock"][2] : np.round(abs(rd.normal(df["Price"][2], df["Price"][2]*0.02+0.00001, total)),2),
     df["Stock"][3] : np.round(abs(rd.normal(df["Price"][3], df["Price"][3]*0.02+0.00001, total)),2),
     df["Stock"][4] : np.round(abs(rd.normal(df["Price"][4], df["Price"][4]*0.02+0.00001, total)),2)}

df_t = pd.DataFrame(t).sort_values(by='Time', ascending=False)

df_t["Trade Price"] = np.where(df_t["Stock"] == "TEA", df_t["TEA"], 0)
df_t["Trade Price"] = np.where(df_t["Stock"] == "POP", df_t["POP"], df_t["Trade Price"])
df_t["Trade Price"] = np.where(df_t["Stock"] == "ALE", df_t["ALE"], df_t["Trade Price"])
df_t["Trade Price"] = np.where(df_t["Stock"] == "GIN", df_t["GIN"], df_t["Trade Price"])
df_t["Trade Price"] = np.where(df_t["Stock"] == "JOE", df_t["JOE"], df_t["Trade Price"])

df_t.drop(['TEA', 'POP', 'ALE', 'GIN', 'JOE'], axis=1, inplace = True)
df_t.head(n=15)

    Position Stock                Time  Volume  Trade Price
998        B   TEA 2017-08-18 00:06:21     515       103.02
997        B   ALE 2017-08-18 00:06:19     742        80.61
996        B   ALE 2017-08-18 00:06:17     701        78.69
995        B   JOE 2017-08-18 00:06:15     964       229.19
994        B   GIN 2017-08-18 00:06:13     495       121.23
993        B   TEA 2017-08-18 00:06:11      90       101.74
992        B   TEA 2017-08-18 00:06:09     749       102.32
991        S   GIN 2017-08-18 00:06:07     588       121.47
990        B   ALE 2017-08-18 00:06:05     705        79.58
989        B   POP 2017-08-18 00:06:03     462       103.84
988        B   GIN 2017-08-18 00:06:01     920       117.87
987        S   JOE 2017-08-18 00:05:59     565       215.76
986        B   ALE 2017-08-18 00:05:57     680        79.13
985        S   POP 2017-08-18 00:05:55     280       103.40
984        S   TEA 2017-08-18 00:05:53     408        98.67

In [130]:
# Q1a iii. Record a trade, with timestamp, quantity of shares, buy or sell indicator and trade price

# Please input the CURRENT trade record
############### INPUT ####################
# Lets assume the execution time is NOW
stock = 'TEA'   ## Stock Symbol
position = 'B'  ## 'B'=Buy or 'S'=Sell
volume = 999    ## No of Shares traded
price = 110     ## Trade Price
##########################################

now = dt.datetime.now().replace(microsecond=0)
df_t.ix[total] = [position,stock,now,volume,price]
df_t.sort_values(by='Time', ascending=False)

#########   Answer Q1a iii. ########

# Note: FIRST TRADE ON THE TABLE
df_t.sort_values(by='Time', ascending=False).head(n=10)

    Position Stock                Time  Volume  Trade Price
999        B   TEA 2017-08-18 00:08:11     999       110.00
998        B   TEA 2017-08-18 00:06:21     515       103.02
997        B   ALE 2017-08-18 00:06:19     742        80.61
996        B   ALE 2017-08-18 00:06:17     701        78.69
995        B   JOE 2017-08-18 00:06:15     964       229.19
994        B   GIN 2017-08-18 00:06:13     495       121.23
993        B   TEA 2017-08-18 00:06:11      90       101.74
992        B   TEA 2017-08-18 00:06:09     749       102.32
991        S   GIN 2017-08-18 00:06:07     588       121.47
990        B   ALE 2017-08-18 00:06:05     705        79.58

In [131]:
# Q1a iv. Calculate Volume Weighted Stock Price based on trades in past 15 minutes

# Please input the stock symbol to calculate VWSP
############### INPUT ####################
stock_symbol = 'TEA'
##########################################

df_s = df_t[(df_t.Time > now - dt.timedelta(minutes = 15)) & (df_t.Stock == stock_symbol)]
df_s["P * Q"] = df_s["Trade Price"] * df_s["Volume"]
total_PQ = df_s["P * Q"].sum()
total_Q = df_s["Volume"].sum()
VWSP = total_PQ / total_Q

#########   Answer Q1a iv. ########
print VWSP

99.908160587

/Users/Ray/Library/Enthought/Canopy/edm/envs/User/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [133]:
# Q1 b.Calculate the GBCE All Share Index using the geometric mean of prices for all stocks

import scipy.stats.mstats as mstats

p = df_t['Trade Price'].values
gm = mstats.gmean(p, axis=0)

#########   Answer Q1 b. ########
gm

116.66872328158927